body {
margin-left: 20px;
text-align: justify;
font-size: 32px;
}

h1 {
text-align: left;
}

img {
max-width: 1000px;
}

code {
text-align: left;
font-size: 22px;
}

a {
text-decoration: none;
color: #0000FF;
font-size: 30px;
}

a:visited {
color: #0000FF;
}

a.active {
color: #FF0000;
}