body {
margin-left: 20px;
text-align: center;
font-size: 20px;
}

h1 {
text-align: center;
font-size: 40px;
}

h2 {
line-height: 5px;
text-align: center;
font-size: 20px;
}

h3 {
line-height: 5px;
text-align: right;
font-size: 20px;
}

img {
align: center;
width: 700px;
}

code {
text-align: left;
font-size: 22px;
}

a {
text-decoration: none;
color: #0000FF;
}

a:visited {
color: #0000FF;
}

a.active {
color: #FF0000;
}